.question {
	font-family: "Karla", sans-serif;
	font-weight: bold;
	font-size: 1.2rem;
	text-align: center;
	color: #293264;
}

.options {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 1.2rem;
}

.option {
	border: solid 1.5px;
	border-radius: 10px;
	padding: 6px 10px;
	cursor: pointer;
	font-weight: 500;
	min-width: 8rem;
}

.fa-circle-check {
	color: green;
}

.fa-circle-xmark {
	color: red;
}

hr {
	margin-top: 1.2rem;
	border: solid 1px #dbdef0;
}
